# Base
Django==3.0.8
psycopg2-binary==2.8.5
djangorestframework==3.11.1
django-cors-headers==3.4.0
djangorestframework-simplejwt==4.4.0
django-filter==2.3.0
python-dateutil==2.8.1

# Linting
flake8==3.8.3
flake8-django==1.1.1
isort==5.2.0

# Testing
django-nose==1.4.6
coverage==5.2.1
codecov==2.1.8
